* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#hero-spot {
  background: #222;
  color: white;
  padding: 40px 0 0 0;
}

.hero-spot h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 200;
  line-height: 60px;
  margin: 50px auto 0 auto;
  max-width: 830px;
}
.hero-spot h2 {
  line-height: 1.5em;
  color: #a7a7a7;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  margin: 10px auto 60px auto;
  max-width: 830px;

  a {
    color: white;
  }
}

.help-link {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #bbb;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.help-link:hover {
  color: #ffffff;
}
.logo {
  display: block;
  width: 169px;
  margin: 0 auto;
}

#slideshow {
  position: relative;
  width: 893px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

/* Atur gaya gambar */
.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
}

/* Gambar pertama ditampilkan */
.active {
  display: block;
}

.tutorial h1 {
  margin: 90px auto 0 auto;
  font-size: 48px;
  font-weight: 200;
  line-height: 60px;
  text-align: center;
  max-width: 910px;
  color: #333;
}

.tutorial h2 {
  text-align: center;
  font-weight: 200;
  line-height: 38px;
  margin: 40px auto 0;
  font-size: 21px;
  max-width: 740px;
}
.tabs {
  display: flex;
  justify-content: center;
  margin: 45px auto 0;
  font-size: 0;
}
.tabs li {
  display: inline-block;
  margin: 0;
  font-size: 15px;
}
.tabs .selected {
  font-weight: bold;
  background-color: #327fc7;
  color: white;
  border-color: #327fc7;
  text-decoration: none;
  padding: 10px 20px;
}

.tabs a {
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  color: #333;
  border: 1px solid #ccc;
}

.tabs li:first-child a {
  border-radius: 7px 0 0 7px;
}
.tabs li:nth-child(2) a {
  border-radius: 0 7px 7px 0;
}
